*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
    --red-orange-color-wheel: #f6511dff;
    --honey-yellow: #ffb400ff;
    --carolina-blue: #00a6edff;
    --apple-green: #7fb800ff;
    --prussian-blue: #0d2c54ff;
    --header-font: 'Permanent Marker', cursive;
    --body-font: 'Roboto', sans-serif;
}
body{
    font-family: var(--body-font);
}

header{
    background-color: var(--apple-green);
    color: var(--honey-yellow);
    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
    text-align: center;
    font-family: var(--header-font);
    font-size: 4rem;
    margin: 0 auto;
}

.search{
    margin: 100px auto 0;
    max-width: 50%;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,.3),
                -2px -2px 2px 2px rgba(0,0,0,.2);
    background-color: var(--honey-yellow);
    border-radius: 1.5rem;
    position: relative;
    font-family: var(--body-font);
}

.sub-title, .search-instructions{
    margin: 1em auto;
    color: white;
    
    font-size: 1.5rem;
}

#searchbar{
    position: relative;
    left: 0px;
    border: 1px solid black;
    width: 90%;
}

form{
    border: 1px solid white;
    display: block;
}

.flex-container{
    background-color: var(--red-orange-color-wheel);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 80px 0px;
}
.recipe-brief{
    background-color: var(--honey-yellow);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3),
                1px 1px 3px rgba(0,0,0,.2);
    padding: 20px;
    margin: 10px;
    width: calc(20% - 20px);
    text-align: center;
}
.recipe-preview-img{
    max-width: 80%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3),
                1px 1px 3px rgba(0,0,0,.2);
    border-radius: 15px;
    margin-top: 15px;
}
.recipe-preview-link{
    text-decoration: none;
    color: var(--carolina-blue);
    margin: 10px auto;
    display: block;

}
.recipe-preview-title{
    font-size: 1.4rem;
    margin-top: 10px;
}
.description{
    font-size: .9rem;
    margin-top: 15px;
}

.add-to-list-button{
    display: block;
    margin: 5px auto;
    font-size: .8rem;
}
a{
    display: block;
    text-decoration: none;
}